Descripción: Dada una lista de números, duplica cada elemento en la lista. Ejemplo:
dada la siguiente lista el output esperado es:
lista = [2, 4, 6, 8]

[2, 4, 6, 8, 2, 4, 6, 8]

In [1]:
num = [1, 2, 3, 4, 5, 6]
num

[1, 2, 3, 4, 5, 6]

In [2]:
num2 = [7, 8, 9]

In [3]:
num * 2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [ ]:
num + num2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
num

[1, 2, 3, 4, 5, 6]

In [6]:
sum(num)

21

In [7]:
max(num)

6

In [8]:
len(num)

6

In [9]:
num

[1, 2, 3, 4, 5, 6]

In [10]:
num.index(4)

3

In [11]:
nombre = ['Adri', 'Sandra']

In [12]:
nombre.index('Adri')

0

In [13]:
print(num)
num.index(4)

[1, 2, 3, 4, 5, 6]

3

In [14]:
num2 = num*2
print(num2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [15]:
num2.count(2)

2

In [16]:
num2.index(2)

1

In [ ]:
print(num2[2])
print(num2[5])

3
6

In [ ]:
num

[1, 2, 3, 4, 5, 6]

In [19]:
num[2:5]

[3, 4, 5]

In [ ]:
num  + num[2:5]

[1, 2, 3, 4, 5, 6, 3, 4, 5]

In [21]:
num

[1, 2, 3, 4, 5, 6]

In [22]:
num[-1]

6

[start:stop:step]

In [23]:
num

[1, 2, 3, 4, 5, 6]

In [24]:
num[0]

1

In [25]:
num[-1]

6

In [26]:
num[1:3]

[2, 3]

In [27]:
num

[1, 2, 3, 4, 5, 6]

In [28]:
num.reverse()

In [29]:
print(num)

[6, 5, 4, 3, 2, 1]

In [30]:
num.sort()

In [31]:
print(num)

[1, 2, 3, 4, 5, 6]

num[0:-1:2]

In [32]:
num

[1, 2, 3, 4, 5, 6]

In [33]:
num[::3]

[1, 4]

In [34]:
max(num)

6

In [35]:
num.sort()

In [36]:
num[-2]

5

In [37]:
num

[1, 2, 3, 4, 5, 6]

In [38]:
num.pop()
print(num)

[1, 2, 3, 4, 5]

In [39]:
max(num)

5

In [40]:
num

[1, 2, 3, 4, 5]

Descripción: ¿Qué diferencia existe entre el `.sort()` y el `sorted()`

- lista.sort(): 
    - MÉTODO, 
    - sobreescribe lista original

- sorted(lista): 
    - FUNCIÓN,
    - nunca sobreescribe la lista

In [41]:
# lista.append()
# lista.extend()

In [42]:
num

[1, 2, 3, 4, 5]

In [43]:
num2= [6, 7, 8, 9]

In [44]:
num.extend(num2)
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
num.insert(int(input('inserta un número')), 33)
print(num)

[1, 2, 3, 4, 5, 33, 6, 7, 8, 9]

In [48]:
num

[1, 2, 3, 4, 5, 33, 6, 7, 8, 9]

In [49]:
33 in num

True

In [50]:
input('inserta número') in num

False

In [51]:
int(input('inserta número')) in num

True

In [61]:
num = [1, 2, 3, 4, 5, 33, 6, 7, 8, 9]

In [62]:
print(num)

[1, 2, 3, 4, 5, 33, 6, 7, 8, 9]

In [65]:
num.pop()

9

In [64]:
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]